@import url('./fonts.css');
/* Main content box (putih, border, radius) */
.main-content {
  width: 60vw;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
  position: relative;
  z-index: 20;
}

.main-title {
  font-size: 2.5rem;
  font-weight: bold;
  color: #fff;
  margin-bottom: 1rem;
}

.main-ingredients {
  font-size: 1.3rem;
  color: #fff;
  margin-bottom: 1rem;
}
.main-ingredients ul {
  margin-top: 0.5rem;
  margin-left: 1.5rem;
}
.main-ingredients li {
  margin-bottom: 0.3rem;
}

.main-desc {
  font-size: 1rem;
  color: #fff;
  margin-bottom: 2rem;
  text-align: justify;
  max-width: 32vw;
  margin-left: 0.5vw;
}

.main-buy {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.main-buy-btn {
  background: #e5d3b3;
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
  border: none;
  border-radius: 30px;
  padding: 1rem 3rem;
  cursor: pointer;
  box-shadow: 0 2px 8px rgba(0,0,0,0.08);
  transition: background 0.2s;
}
.main-buy-btn:hover {
  background: #c0a279;
}
.main-buy-cart {
  display: flex;
  align-items: center;
}
