@import url('./fonts.css');
/* Header container */
.header {
	width: 100vw;
	height: 10vh;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: transparent;
	position: fixed;
	top: 2vh;
	left: 0;
	z-index: 100;
	pointer-events: auto;
}

/* Logo di kiri */
.header-logo {
	height:10vh;
	width: auto;
}

.header-left {
	display: flex;
	align-items: center;
		padding-left: 4.2vh;
}

/* Menu di kanan */
.header-right {
	display: flex;
	align-items: center;
	gap: 6vw;
		padding-right: 8vw;
    
}
.header-link {
	font-size: 2.5vh;
	font-size: 1.700rem;
	color: #ffffff;
	text-decoration: none;
	font-weight: 500;
	transition: color 0.2s;
}
.header-link:hover {
	color: #787058;
}
